spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "mi-power"
spawn-at-startup "nm-applet"
spawn-at-startup "quickshell" "-c" "mi-shell"
spawn-at-startup "sh" "-c" "swaybg -i $(cat ~/.config/quickshell/mi-shell/wallpaper.conf) -m fill"
// --- Suggested Keybindings ---
binds {
    // Uncomment these to enable mi-shell shortcuts:
     Mod+D { spawn "qs" "-c" "mi-shell" "ipc" "call" "launcher" "toggle"; }
     Mod+S { spawn "mi-caffeine"; }
     Mod+Plus { consume-or-expel-window-left; }
    Mod+Dead_Grave { consume-or-expel-window-right; }
}
